{% extends 'base.html.twig' %}

{% block title %}Resource Database{% endblock %}

{% block body %}
  <a href="{{ path('location_index') }}">Locations</a>
  <a href="{{ path('resource_index') }}">Resources</a>
{% endblock %}
